@model List<Connectify.DTOs.ChatMessageDto>

@{
    var currentUserId =
        ViewBag.CurrentUserId;
}

<div class="chat-wrapper">

    <!-- HEADER -->
    <div class="chat-header">

        <div>
            Global Chat Room
        </div>

        <div id="onlineCount">
            Online: 0
        </div>

    </div>


    <!-- MAIN LAYOUT -->
    <div class="chat-layout">

        <!-- ONLINE USERS -->
        <div class="online-users">

            <h5>Online Users</h5>

            <ul id="usersList"></ul>

        </div>


        <!-- CHAT SECTION -->
        <div class="chat-main">

            <!-- CHAT BODY -->
            <div id="chatBox" class="chat-body">

                @foreach (var item in Model)
                {
                    var isMine = item.UserId == currentUserId;

                    <div class="message-container @(isMine ? "mine" : "other")">

                        <div class="message-bubble">

                            <div class="message-user">
                                @item.UserName
                            </div>

                            <div class="message-text">
                                @item.Message
                            </div>

                            <div class="message-time">
                                @item.SentAt.ToLocalTime().ToString("hh:mm tt")
                            </div>

                        </div>

                    </div>
                }

            </div>


            <!-- TYPING INDICATOR -->
            <div id="typingIndicator"
                 class="typing-indicator">
            </div>


            <!-- FOOTER -->
            <div class="chat-footer">

                <input type="text"
                       id="messageInput"
                       placeholder="Type your message..." />

                <button id="sendBtn">
                    Send
                </button>

            </div>

        </div>

    </div>

</div>


@section Scripts{

   <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

<script>

            const currentUserId =
        '@currentUserId';

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .build();


    // RECEIVE MESSAGE
    connection.on("ReceiveMessage",
            function(userId, user, message, time){

            const isMine =
        userId === currentUserId;

            const chatBox =
                document.getElementById("chatBox");

            const html = `
                <div class="message-container ${isMine ? 'mine' : 'other'}">

                    <div class="message-bubble">

                        <div class="message-user">
                            ${user}
                        </div>

                        <div class="message-text">
                            ${message}
                        </div>

                        <div class="message-time">
                            ${time}
                        </div>

                    </div>

                </div>
            `;

            chatBox.innerHTML += html;

            scrollToBottom();
        });


    // USER CONNECTED
    connection.on("UserConnected",
        function(user, count){

            document.getElementById("onlineCount")
                .innerText = `Online: ${count}`;

            showSystemMessage(`${user} joined chat`);
        });


    // USER DISCONNECTED
    connection.on("UserDisconnected",
        function(user, count){

            document.getElementById("onlineCount")
                .innerText = `Online: ${count}`;

            showSystemMessage(`${user} left chat`);
        });


    // ONLINE USERS LIST
    connection.on("OnlineUsers",
        function(users){

            const usersList =
                document.getElementById("usersList");

            usersList.innerHTML = "";

            users.forEach(user => {

                usersList.innerHTML += `
                    <li>${user}</li>
                `;
            });
        });


    // TYPING INDICATOR
    connection.on("UserTyping",
        function(user){

            const indicator =
                document.getElementById("typingIndicator");

            indicator.innerText =
                `${user} is typing...`;

            setTimeout(() => {

                indicator.innerText = "";

            }, 2000);
        });


    // START CONNECTION
    connection.start()
        .catch(function(err){

            return console.error(err.toString());

        });


    // SEND BUTTON
    document.getElementById("sendBtn")
        .addEventListener("click", sendMessage);


    // ENTER KEY + TYPING EVENT
    document.getElementById("messageInput")
        .addEventListener("keypress",
            function(e){

                connection.invoke("Typing");

                if(e.key === "Enter"){

                    sendMessage();
                }
            });


    // SEND MESSAGE
    function sendMessage(){

        const input =
            document.getElementById("messageInput");

        const message =
            input.value.trim();

        if(message === "")
            return;

        connection.invoke("SendMessage", message)
            .catch(function(err){

                return console.error(err.toString());

            });

        input.value = "";

        input.focus();
    }


    // AUTO SCROLL
    function scrollToBottom(){

        const chatBox =
            document.getElementById("chatBox");

        chatBox.scrollTop =
            chatBox.scrollHeight;
    }


    // SYSTEM MESSAGE
    function showSystemMessage(message){

        const chatBox =
            document.getElementById("chatBox");

        chatBox.innerHTML += `
            <div class="system-message">
                ${message}
            </div>
        `;

        scrollToBottom();
    }


    // INITIAL SCROLL
    scrollToBottom();

</script>
}